* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}


/*utilities*/
body {
    font-family: 'PT Sans', sans-serif;
}

.wid-80 {
    max-width: 1152px;
    width: 80%;
    margin: auto;
}

.col-l-4 {
    width: calc(100%/12 * 4 - 1rem);
}

.col-l-5 {
    width: calc(100%/12*5 - 1rem);
}

.col-l-8 {
    width: calc(100%/12 * 8 - 1rem);
}

.dflex {
    display: flex;
}

a {
    font-weight: 400;
    text-decoration: none;
}

.btn-blue {
    padding: 0.5rem 1rem;
    background-color: var(--rsp-heanvenly);
    border-radius: 25px;
    width: 75%;
}

.btn-blue i,
.btn-blue p {
    color: var(--rsp-secondary);
}

.btn-blue a {
    display: flex;
}

.btn-viol {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--rsp-primary);
    border-radius: 25px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.btn-viol p {
    color: var(--rsp-secondary);
}

.txt-al-left {
    text-align: left;
}

.marg-left {
    margin-left: -0.3rem;
}

.dflex-start{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.dflex-end{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.m-top32 {
    margin-top: 28%;
}

.h55 {
    height: 55%;
}

/*end utilities*/

/*start header*/

header {
    background-color: var(--rsp-heanvenly);
    padding: 0.5rem 0;
}

nav.d-flex {
    justify-content: space-between;
    align-items: center;
}

.nav-pc li {
    list-style-type: none;
    padding: 0.5rem 0.8rem;
}

.nav-pc li>a {
    color: var(--rsp-secondary);
    text-transform: capitalize;
    text-align: center;
}

.nav-pc li:last-child {
    background-color: var(--rsp-secondary);
    border-radius: 20px;
}

.nav-pc li:last-child a {
    color: black;
    text-align: center;
}

.row-header {
    justify-content: space-between;
}

.logo {
    width: 40%;
}

.logo img {
    height: 30px;
}

.nav-mobile {
    display: none;
    color: var(--rsp-secondary);
    margin-top: 6px;
}

/*end header*/

/*start main*/

/*start jumbotron*/
.jumbotron {
    max-width: 1152px;
    width: 80%;
    margin: 0 auto;
}

.jumbotron .row {
    flex-wrap: wrap;
    justify-content: space-around;
}

.jumbotron .card-header>h3,
.jumbotron .card-header>p,
.jumbotron .card-header .btn-blue {
    margin: 2rem 0;
}

.jumbotron .card:first-child>.card-content {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem 1rem 0;
}

.jumbotron .card:first-child>.card-content>img {
    width: 14rem;
}

.jumbotron .card {
    margin: 1rem 0;
    background-color: var(--rsp-light-heanvenly);
    border-radius: 30px;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jumbotron .card i {
    color: var(--rsp-heanvenly);
    font-size: 4rem;
}

.jumbotron .card:first-child i {
    color: var(--rsp-secondary);
    font-size: 1rem;
    padding-right: 1rem;
}

.jumbotron .card h3 {
    color: var(--rsp-heanvenly);
}

.jumbotron .card:first-child {
    flex-direction: row;
    align-items: end;
    padding-bottom: 0;
}

/*end jumbotron*/

/*start section plan*/
.plan {
    background-color: var(--rsp-primary);
}

.plan .row {
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.plan img {
    width: 100%;
}

.plan .col-l-4:first-child {
    color: var(--rsp-secondary);
    margin-top: 15%;
    justify-content: flex-end;
}

.plan .r-card > h3 {
   margin-bottom: 2rem;
}


.plan .r-card img {
    margin-bottom: 10rem;
}


.plan .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--rsp-secondary);
    border-radius: 30px;
    text-align: center;
    padding: 2rem;
}

.plan .card img {
    padding: 1rem 0;
}

.plan .card p{
    margin-top: 1rem;
    font-style: italic;
    font-size: 13px;
}

.plan .card > .icon{
    margin-top: 1rem;
    background-color: var(--rsp-primary);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.plan .card > .icon > i{
    color: var(--re-light);
    line-height: 3rem;
    font-size: 1.5rem;
}

/*end section plan*/

/*start section testimonials*/

.testimonials .title{
    text-align: center;
    padding: 2rem 0;
}
.testimonials .title h4{
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem 0;
}

.testimonials .title h2{
    color: var(--rsp-primary);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.testimonials .card{
    background-color: var(--rsp-primary);
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 0.5rem;
    border-radius: 30px;
    margin: 2rem 0;
}
.testimonials .card-photo{
    width: 15%;
    aspect-ratio: 1;
}
.testimonials .card-photo > img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials .card-content{
    color: var(--rsp-secondary);
    padding: 2rem;
}

.testimonials .card-content h4{
    text-transform: uppercase;
    padding-top: 1rem;
}

/*end section testimonials*/

/*start section work*/
.work {
    background-color: var(--rsp-primary);
}

.work .title {
    color: var(--rsp-secondary);
    padding: 2rem 0;
    text-align: center;
}


.work .row {
    flex-wrap: wrap;
}

.work .card {
    margin: 0.5rem;
    background-color: var(--rsp-secondary);
    padding: 1rem;
    border-radius: 30px;
}

.work .card h2,
.work .card h4 {
    color: var(--rsp-primary);
    padding: 1rem 0;
}
/*end section work*/


/*end main*/


/* start MEDIA TABLET*/
@media screen and (max-width:768px) {

    .col-t-12 {
        width: calc(100%/12 * 12);
        margin: 0 auto;
    }
    .col-t-6{
        width: calc(100%/12*6 - 1rem);
    }

    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: block;
    }


    .jumbotron .card:first-child {
        flex-direction: column;
    }

    .plan .row{
        flex-direction: column;
    }

    .plan .card{
        margin-top: 1rem;
    }

    .testimonials .card-photo {
        width: 70%;
        aspect-ratio: 1;
    }
}

/*start MEDIA MOBILE*/
@media screen and (max-width:480px) {

    .col-m-12 {
        width: calc(100%/12 * 12);
        margin: 0 auto;
    }

    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .testimonials .card{
        flex-direction: column;
    }

    .testimonials .card-photo {
        width: 50%;
        aspect-ratio: 1;
    }

}
/*end MEDIA MOBILE*/